
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

body{
    
    background-color: #D7A86E;
}

.page-title{
color: #A64B2A; /* cor do texto */

margin: 40px auto 10px; /* margem superior, direita e esquera(auto) e inferior */

padding-left: 10px; /* preencimento da esquerda de 10px */

width: 80%; /* largura de 80% */

font-size: 64pt;

text-align: center; /* centralizar texto */
font-weight: bold;  /* peso da font */
font-family: 'Hind', sans-serif;
}

h2{ 
margin: 10px auto 10px; /* margem superior, direita e esquera(auto) e inferior */
/* padding-left: 92px; preencimento da esquerda de 10px */
text-align: center; /* centralizar texto */
/* width: 100%; largura de 80% */
font-size: 15pt; /* tamanho da fonte */

border-radius: 10px;
font-family: 'Hind', sans-serif;
}

main{
    width: 80%;
    margin: 40px auto 5px;
    padding-left: 10px;
   
}
.article-title{
    
    font-size: 25px;
    text-align: center;
    font-family: 'Hind', sans-serif;
    
}
p{
    
    text-align: center;
    font-family: 'Hind', sans-serif;
}
.titulo-produto{
    background-color: #8E3200;
    margin: 40px 0 5px;
    height: 30px;
    color: #A64B2A (255, 20, 20);
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 15x;
    box-shadow: 0px 0px 2px 5px rgba(37, 29, 21, 0.3);
    font-family: 'Hind', sans-serif;
    width: 100%;

}

.imagem{
    width: 433px;
    height: 433px;
    border-radius: 10px;
   
}

footer{
    
    background-color: #A64B2A;
    
    padding: 50px;
    font-family: 'Hind', sans-serif;
   }

   .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   }

.lista-central{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 40px auto 5px;
   background-color: #8E3200;
   font-size: 18pt;
    font-weight: 900;
   font-family: 'Hind', sans-serif;
   border-radius: 10px;
   box-shadow: 0px 0px 2px 5px rgba(37, 29, 21, 0.3);
padding: 20px 0 ;

}